/**
 * Copyright © 2018.
 * szekelymilan.eu belongs to Milan Szekely
*/
body {
  margin: 0;
  background-color: #1c1d17;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div#main-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 500px;
  transform: translate(-50%, -70%);
  text-align: center;
  color: white;
}

@media only screen and (max-height: 800px) {
  div#main-container { transform: translate(-50%, -52%); }
}

@keyframes fadein {
  from  { opacity: 0; }
  to    { opacity: 1; }
}

div#profile-pic {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  animation: 1s fadein forwards;
}

div#profile-pic img#profile {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(.1,1.4,.8,1.4);
}

div#profile-pic:hover img#profile {
  width: 120%;
}

div#main-container h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 35px;
  opacity: 0;
  animation: 1s fadein forwards;
  animation-delay: 0.5s;
}

div#main-container h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 10px;
  font-weight: normal;
  opacity: 0;
  animation: 1s fadein forwards;
  animation-delay: 1s;
}

span.info {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 30px;
  opacity: 0;
  animation: 1s fadein forwards;
  animation-delay: 1.5s;
}

span.info a {
  text-decoration: none;
  line-height: 30px;
  transition: color 0.3s;
  color: white;
}

span.info a:hover {
  color: #537f98;
}

span.info a:active {
  transition: none !important;
  color: #8fbbd4;
}